In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import tensorflow as tf
import statsmodels.api as sm
import pylab as pl
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "../input"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

/opt/conda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

WA_Fn-UseC_-HR-Employee-Attrition.csv

/opt/conda/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
dataframe=pd.read_csv("../input/WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [3]:
dataframe.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
names = dataframe.columns.values 
print(names)

['Age' 'Attrition' 'BusinessTravel' 'DailyRate' 'Department'
 'DistanceFromHome' 'Education' 'EducationField' 'EmployeeCount'
 'EmployeeNumber' 'EnvironmentSatisfaction' 'Gender' 'HourlyRate'
 'JobInvolvement' 'JobLevel' 'JobRole' 'JobSatisfaction' 'MaritalStatus'
 'MonthlyIncome' 'MonthlyRate' 'NumCompaniesWorked' 'Over18' 'OverTime'
 'PercentSalaryHike' 'PerformanceRating' 'RelationshipSatisfaction'
 'StandardHours' 'StockOptionLevel' 'TotalWorkingYears'
 'TrainingTimesLastYear' 'WorkLifeBalance' 'YearsAtCompany'
 'YearsInCurrentRole' 'YearsSinceLastPromotion' 'YearsWithCurrManager']

In [5]:
dataframe.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [6]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(26), object(9)
memory usage: 402.0+ KB

In [7]:
dataframe.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [8]:
dataframe.std()

Age                            9.135373
DailyRate                    403.509100
DistanceFromHome               8.106864
Education                      1.024165
EmployeeCount                  0.000000
EmployeeNumber               602.024335
EnvironmentSatisfaction        1.093082
HourlyRate                    20.329428
JobInvolvement                 0.711561
JobLevel                       1.106940
JobSatisfaction                1.102846
MonthlyIncome               4707.956783
MonthlyRate                 7117.786044
NumCompaniesWorked             2.498009
PercentSalaryHike              3.659938
PerformanceRating              0.360824
RelationshipSatisfaction       1.081209
StandardHours                  0.000000
StockOptionLevel               0.852077
TotalWorkingYears              7.780782
TrainingTimesLastYear          1.289271
WorkLifeBalance                0.706476
YearsAtCompany                 6.126525
YearsInCurrentRole             3.623137
YearsSinceLastPromotion        3.222430
YearsWithCurrManager           3.568136
dtype: float64

In [9]:
dataframe['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [10]:
dataframe['Attrition'].dtypes

dtype('O')

In [11]:
dataframe['Attrition'].replace('Yes',1, inplace=True)
dataframe['Attrition'].replace('No',0, inplace=True)

In [12]:
dataframe.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,0,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,0,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,0,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,0,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,0,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7

In [13]:
dataframe['EducationField'].replace('Life Sciences',1, inplace=True)
dataframe['EducationField'].replace('Medical',2, inplace=True)
dataframe['EducationField'].replace('Marketing', 3, inplace=True)
dataframe['EducationField'].replace('Other',4, inplace=True)
dataframe['EducationField'].replace('Technical Degree',5, inplace=True)
dataframe['EducationField'].replace('Human Resources', 6, inplace=True)

In [14]:
dataframe['EducationField'].value_counts()

1    606
2    464
3    159
5    132
4     82
6     27
Name: EducationField, dtype: int64

In [15]:
dataframe['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [16]:
dataframe['Department'].replace('Research & Development',1, inplace=True)
dataframe['Department'].replace('Sales',2, inplace=True)
dataframe['Department'].replace('Human Resources', 3, inplace=True)

In [17]:
dataframe['Department'].value_counts()

1    961
2    446
3     63
Name: Department, dtype: int64

In [18]:
dataframe.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,2,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,1,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,1,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,1,2,1,2,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,0,Travel_Frequently,1005,1,2,2,1,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,0,Travel_Rarely,1324,1,3,3,2,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,0,Travel_Rarely,1358,1,24,1,1,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,0,Travel_Frequently,216,1,23,3,1,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,0,Travel_Rarely,1299,1,27,3,2,1,13,...,2,80,2,17,3,2,7,7,7,7

In [19]:
dataframe['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [20]:
dataframe['BusinessTravel'].replace('Travel_Rarely',1, inplace=True)
dataframe['BusinessTravel'].replace('Travel_Frequently',2, inplace=True)
dataframe['BusinessTravel'].replace('Non-Travel',3, inplace=True)

In [21]:
dataframe['BusinessTravel'].value_counts()

1    1043
2     277
3     150
Name: BusinessTravel, dtype: int64

In [22]:
dataframe['Gender']

0       Female
1         Male
2         Male
3       Female
4         Male
5         Male
6       Female
7         Male
8         Male
9         Male
10        Male
11      Female
12        Male
13        Male
14        Male
15      Female
16        Male
17        Male
18      Female
19        Male
20      Female
21        Male
22      Female
23        Male
24        Male
25      Female
26      Female
27        Male
28      Female
29      Female
         ...
1440    Female
1441      Male
1442      Male
1443      Male
1444      Male
1445    Female
1446    Female
1447      Male
1448      Male
1449      Male
1450    Female
1451    Female
1452      Male
1453    Female
1454    Female
1455      Male
1456      Male
1457    Female
1458    Female
1459      Male
1460    Female
1461      Male
1462    Female
1463      Male
1464    Female
1465      Male
1466      Male
1467      Male
1468      Male
1469      Male
Name: Gender, Length: 1470, dtype: object

In [23]:
dataframe['Gender'].replace('Male',1, inplace=True)
dataframe['Gender'].replace('Female',0, inplace=True)
dataframe['Gender']

0       0
1       1
2       1
3       0
4       1
5       1
6       0
7       1
8       1
9       1
10      1
11      0
12      1
13      1
14      1
15      0
16      1
17      1
18      0
19      1
20      0
21      1
22      0
23      1
24      1
25      0
26      0
27      1
28      0
29      0
       ..
1440    0
1441    1
1442    1
1443    1
1444    1
1445    0
1446    0
1447    1
1448    1
1449    1
1450    0
1451    0
1452    1
1453    0
1454    0
1455    1
1456    1
1457    0
1458    0
1459    1
1460    0
1461    1
1462    0
1463    1
1464    0
1465    1
1466    1
1467    1
1468    1
1469    1
Name: Gender, Length: 1470, dtype: int64

In [24]:
dataframe.dtypes

Age                          int64
Attrition                    int64
BusinessTravel               int64
DailyRate                    int64
Department                   int64
DistanceFromHome             int64
Education                    int64
EducationField               int64
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                       int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [25]:
x=dataframe.select_dtypes(include=['int64'])
x.dtypes
x.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [26]:
L = dataframe.columns[1:]
y=dataframe['Attrition']

In [27]:
y, x = dmatrices('Attrition ~ Age + BusinessTravel + DailyRate + Department + \
                  DistanceFromHome + Education + EducationField + YearsAtCompany',
                  dataframe, return_type="dataframe")
print (x.columns)

Index(['Intercept', 'Age', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'YearsAtCompany'],
      dtype='object')

In [28]:
y = np.ravel(y)

In [29]:
model = LogisticRegression()
model = model.fit(x, y)

# check the accuracy on the training set
model.score(x, y)

0.84217687074829928

In [30]:
y.mean()

0.16122448979591836

In [31]:
X_train,X_test,y_train,y_test=train_test_split(x,y, test_size=0.3, random_state=0)
model2=LogisticRegression()
model2.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [32]:
predicted= model2.predict(X_test)
print (predicted)

[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.]

In [33]:
probs = model2.predict_proba(X_test)
print (probs)

[[ 0.86056125  0.13943875]
 [ 0.79118362  0.20881638]
 [ 0.73817505  0.26182495]
 [ 0.87280827  0.12719173]
 [ 0.70529837  0.29470163]
 [ 0.74324001  0.25675999]
 [ 0.8579863   0.1420137 ]
 [ 0.88453695  0.11546305]
 [ 0.95921547  0.04078453]
 [ 0.92928863  0.07071137]
 [ 0.96102824  0.03897176]
 [ 0.80331605  0.19668395]
 [ 0.86960543  0.13039457]
 [ 0.85404329  0.14595671]
 [ 0.89785948  0.10214052]
 [ 0.90814867  0.09185133]
 [ 0.87561795  0.12438205]
 [ 0.76203443  0.23796557]
 [ 0.76470647  0.23529353]
 [ 0.89985594  0.10014406]
 [ 0.68353753  0.31646247]
 [ 0.94709878  0.05290122]
 [ 0.85143462  0.14856538]
 [ 0.84632735  0.15367265]
 [ 0.66645784  0.33354216]
 [ 0.79510936  0.20489064]
 [ 0.91757921  0.08242079]
 [ 0.9451755   0.0548245 ]
 [ 0.64501349  0.35498651]
 [ 0.87038432  0.12961568]
 [ 0.8527112   0.1472888 ]
 [ 0.8015059   0.1984941 ]
 [ 0.87606448  0.12393552]
 [ 0.95534415  0.04465585]
 [ 0.87971096  0.12028904]
 [ 0.87515421  0.12484579]
 [ 0.9005951   0.0994049 ]
 [ 0.66039613  0.33960387]
 [ 0.90262343  0.09737657]
 [ 0.79549049  0.20450951]
 [ 0.89513675  0.10486325]
 [ 0.85109116  0.14890884]
 [ 0.91973674  0.08026326]
 [ 0.91409022  0.08590978]
 [ 0.89574774  0.10425226]
 [ 0.81964755  0.18035245]
 [ 0.76567873  0.23432127]
 [ 0.84323901  0.15676099]
 [ 0.63860978  0.36139022]
 [ 0.75877601  0.24122399]
 [ 0.94249662  0.05750338]
 [ 0.82672062  0.17327938]
 [ 0.83350374  0.16649626]
 [ 0.8940651   0.1059349 ]
 [ 0.8661417   0.1338583 ]
 [ 0.76081759  0.23918241]
 [ 0.87140568  0.12859432]
 [ 0.83249137  0.16750863]
 [ 0.75752151  0.24247849]
 [ 0.81492692  0.18507308]
 [ 0.88028569  0.11971431]
 [ 0.752314    0.247686  ]
 [ 0.91665835  0.08334165]
 [ 0.87767793  0.12232207]
 [ 0.78017459  0.21982541]
 [ 0.87626368  0.12373632]
 [ 0.92603777  0.07396223]
 [ 0.85265213  0.14734787]
 [ 0.89875311  0.10124689]
 [ 0.66583715  0.33416285]
 [ 0.94786066  0.05213934]
 [ 0.71318791  0.28681209]
 [ 0.8273388   0.1726612 ]
 [ 0.8343495   0.1656505 ]
 [ 0.82303066  0.17696934]
 [ 0.71724923  0.28275077]
 [ 0.91744145  0.08255855]
 [ 0.95632804  0.04367196]
 [ 0.78792583  0.21207417]
 [ 0.87785321  0.12214679]
 [ 0.89047253  0.10952747]
 [ 0.79273973  0.20726027]
 [ 0.75012471  0.24987529]
 [ 0.7634457   0.2365543 ]
 [ 0.821841    0.178159  ]
 [ 0.73118536  0.26881464]
 [ 0.97729619  0.02270381]
 [ 0.95548355  0.04451645]
 [ 0.89377239  0.10622761]
 [ 0.80927006  0.19072994]
 [ 0.68264597  0.31735403]
 [ 0.84782016  0.15217984]
 [ 0.70983186  0.29016814]
 [ 0.84081653  0.15918347]
 [ 0.86877979  0.13122021]
 [ 0.79471073  0.20528927]
 [ 0.69241805  0.30758195]
 [ 0.52929149  0.47070851]
 [ 0.869496    0.130504  ]
 [ 0.89129962  0.10870038]
 [ 0.78886122  0.21113878]
 [ 0.79027223  0.20972777]
 [ 0.97737248  0.02262752]
 [ 0.93060566  0.06939434]
 [ 0.77323442  0.22676558]
 [ 0.93910875  0.06089125]
 [ 0.88739586  0.11260414]
 [ 0.79029488  0.20970512]
 [ 0.9044274   0.0955726 ]
 [ 0.83660463  0.16339537]
 [ 0.84779947  0.15220053]
 [ 0.93758681  0.06241319]
 [ 0.93484224  0.06515776]
 [ 0.78797166  0.21202834]
 [ 0.81669009  0.18330991]
 [ 0.89687722  0.10312278]
 [ 0.90495126  0.09504874]
 [ 0.85324946  0.14675054]
 [ 0.95289982  0.04710018]
 [ 0.922257    0.077743  ]
 [ 0.88479455  0.11520545]
 [ 0.85528527  0.14471473]
 [ 0.8549557   0.1450443 ]
 [ 0.7005612   0.2994388 ]
 [ 0.89966398  0.10033602]
 [ 0.96470843  0.03529157]
 [ 0.95056489  0.04943511]
 [ 0.83518643  0.16481357]
 [ 0.88926944  0.11073056]
 [ 0.72880919  0.27119081]
 [ 0.97323006  0.02676994]
 [ 0.88364181  0.11635819]
 [ 0.82219588  0.17780412]
 [ 0.82774013  0.17225987]
 [ 0.96086624  0.03913376]
 [ 0.96085685  0.03914315]
 [ 0.68475418  0.31524582]
 [ 0.93942961  0.06057039]
 [ 0.76931441  0.23068559]
 [ 0.81933809  0.18066191]
 [ 0.82275298  0.17724702]
 [ 0.913095    0.086905  ]
 [ 0.75309392  0.24690608]
 [ 0.89598012  0.10401988]
 [ 0.9340842   0.0659158 ]
 [ 0.93284309  0.06715691]
 [ 0.95856449  0.04143551]
 [ 0.93686481  0.06313519]
 [ 0.92109453  0.07890547]
 [ 0.70875148  0.29124852]
 [ 0.85620356  0.14379644]
 [ 0.81588506  0.18411494]
 [ 0.7933374   0.2066626 ]
 [ 0.97085241  0.02914759]
 [ 0.94583376  0.05416624]
 [ 0.93578156  0.06421844]
 [ 0.97703036  0.02296964]
 [ 0.76258794  0.23741206]
 [ 0.8500638   0.1499362 ]
 [ 0.88811207  0.11188793]
 [ 0.94682691  0.05317309]
 [ 0.94493437  0.05506563]
 [ 0.75259919  0.24740081]
 [ 0.71576332  0.28423668]
 [ 0.95065871  0.04934129]
 [ 0.87383301  0.12616699]
 [ 0.82464083  0.17535917]
 [ 0.78587247  0.21412753]
 [ 0.80398424  0.19601576]
 [ 0.93113127  0.06886873]
 [ 0.90393083  0.09606917]
 [ 0.93706866  0.06293134]
 [ 0.93203429  0.06796571]
 [ 0.73321826  0.26678174]
 [ 0.94432331  0.05567669]
 [ 0.75197876  0.24802124]
 [ 0.80308262  0.19691738]
 [ 0.92442194  0.07557806]
 [ 0.82056446  0.17943554]
 [ 0.82340086  0.17659914]
 [ 0.70791624  0.29208376]
 [ 0.91430889  0.08569111]
 [ 0.93248477  0.06751523]
 [ 0.89376029  0.10623971]
 [ 0.94401978  0.05598022]
 [ 0.6061749   0.3938251 ]
 [ 0.91009543  0.08990457]
 [ 0.85067758  0.14932242]
 [ 0.76763261  0.23236739]
 [ 0.48045054  0.51954946]
 [ 0.70565138  0.29434862]
 [ 0.74203059  0.25796941]
 [ 0.83567918  0.16432082]
 [ 0.83661624  0.16338376]
 [ 0.78238652  0.21761348]
 [ 0.87522296  0.12477704]
 [ 0.75597009  0.24402991]
 [ 0.92837946  0.07162054]
 [ 0.81660465  0.18339535]
 [ 0.89898948  0.10101052]
 [ 0.87972202  0.12027798]
 [ 0.79397301  0.20602699]
 [ 0.7048614   0.2951386 ]
 [ 0.85836448  0.14163552]
 [ 0.76564888  0.23435112]
 [ 0.80247052  0.19752948]
 [ 0.76753535  0.23246465]
 [ 0.92489457  0.07510543]
 [ 0.69609739  0.30390261]
 [ 0.85837223  0.14162777]
 [ 0.86049141  0.13950859]
 [ 0.81818691  0.18181309]
 [ 0.86991099  0.13008901]
 [ 0.73839239  0.26160761]
 [ 0.9356828   0.0643172 ]
 [ 0.8629296   0.1370704 ]
 [ 0.95743872  0.04256128]
 [ 0.84229424  0.15770576]
 [ 0.82578134  0.17421866]
 [ 0.84314617  0.15685383]
 [ 0.87920288  0.12079712]
 [ 0.60284798  0.39715202]
 [ 0.56364355  0.43635645]
 [ 0.98707679  0.01292321]
 [ 0.63711186  0.36288814]
 [ 0.92529119  0.07470881]
 [ 0.9153522   0.0846478 ]
 [ 0.71927352  0.28072648]
 [ 0.61106042  0.38893958]
 [ 0.78629375  0.21370625]
 [ 0.95154326  0.04845674]
 [ 0.86047118  0.13952882]
 [ 0.86015874  0.13984126]
 [ 0.91601043  0.08398957]
 [ 0.90077804  0.09922196]
 [ 0.78710985  0.21289015]
 [ 0.78033551  0.21966449]
 [ 0.93427362  0.06572638]
 [ 0.75914603  0.24085397]
 [ 0.92945556  0.07054444]
 [ 0.89584695  0.10415305]
 [ 0.70816504  0.29183496]
 [ 0.98460914  0.01539086]
 [ 0.84638915  0.15361085]
 [ 0.88892733  0.11107267]
 [ 0.80277689  0.19722311]
 [ 0.85326601  0.14673399]
 [ 0.90009434  0.09990566]
 [ 0.88204624  0.11795376]
 [ 0.89385845  0.10614155]
 [ 0.78726395  0.21273605]
 [ 0.87246768  0.12753232]
 [ 0.56792894  0.43207106]
 [ 0.87791025  0.12208975]
 [ 0.91676674  0.08323326]
 [ 0.87661247  0.12338753]
 [ 0.98610593  0.01389407]
 [ 0.77837542  0.22162458]
 [ 0.65433087  0.34566913]
 [ 0.83926506  0.16073494]
 [ 0.83380766  0.16619234]
 [ 0.86797168  0.13202832]
 [ 0.84936719  0.15063281]
 [ 0.74445277  0.25554723]
 [ 0.87210893  0.12789107]
 [ 0.90780438  0.09219562]
 [ 0.83532941  0.16467059]
 [ 0.84177918  0.15822082]
 [ 0.7959701   0.2040299 ]
 [ 0.882985    0.117015  ]
 [ 0.80180812  0.19819188]
 [ 0.85473055  0.14526945]
 [ 0.69374764  0.30625236]
 [ 0.89826997  0.10173003]
 [ 0.85422405  0.14577595]
 [ 0.91890047  0.08109953]
 [ 0.85351963  0.14648037]
 [ 0.92346958  0.07653042]
 [ 0.89976869  0.10023131]
 [ 0.80791873  0.19208127]
 [ 0.68769702  0.31230298]
 [ 0.86404199  0.13595801]
 [ 0.75681722  0.24318278]
 [ 0.8512911   0.1487089 ]
 [ 0.99137941  0.00862059]
 [ 0.85352666  0.14647334]
 [ 0.89878904  0.10121096]
 [ 0.79755598  0.20244402]
 [ 0.94406606  0.05593394]
 [ 0.861434    0.138566  ]
 [ 0.8594853   0.1405147 ]
 [ 0.80460482  0.19539518]
 [ 0.88654545  0.11345455]
 [ 0.84017704  0.15982296]
 [ 0.89338681  0.10661319]
 [ 0.79681987  0.20318013]
 [ 0.75771524  0.24228476]
 [ 0.91348927  0.08651073]
 [ 0.63302578  0.36697422]
 [ 0.95485056  0.04514944]
 [ 0.87591369  0.12408631]
 [ 0.6882629   0.3117371 ]
 [ 0.69808814  0.30191186]
 [ 0.86239009  0.13760991]
 [ 0.86045921  0.13954079]
 [ 0.97705568  0.02294432]
 [ 0.88772893  0.11227107]
 [ 0.5716329   0.4283671 ]
 [ 0.92849082  0.07150918]
 [ 0.71973906  0.28026094]
 [ 0.86580333  0.13419667]
 [ 0.88991761  0.11008239]
 [ 0.85812925  0.14187075]
 [ 0.88037081  0.11962919]
 [ 0.74483945  0.25516055]
 [ 0.83669987  0.16330013]
 [ 0.87497045  0.12502955]
 [ 0.74607396  0.25392604]
 [ 0.72442748  0.27557252]
 [ 0.88699569  0.11300431]
 [ 0.45302596  0.54697404]
 [ 0.91460227  0.08539773]
 [ 0.71245357  0.28754643]
 [ 0.64555478  0.35444522]
 [ 0.90094485  0.09905515]
 [ 0.9424899   0.0575101 ]
 [ 0.86558619  0.13441381]
 [ 0.88288139  0.11711861]
 [ 0.95843736  0.04156264]
 [ 0.91432488  0.08567512]
 [ 0.94800336  0.05199664]
 [ 0.79264411  0.20735589]
 [ 0.85157782  0.14842218]
 [ 0.77294839  0.22705161]
 [ 0.80017548  0.19982452]
 [ 0.96481544  0.03518456]
 [ 0.8345932   0.1654068 ]
 [ 0.91813017  0.08186983]
 [ 0.84031683  0.15968317]
 [ 0.87984928  0.12015072]
 [ 0.82439146  0.17560854]
 [ 0.81342857  0.18657143]
 [ 0.79318689  0.20681311]
 [ 0.84672722  0.15327278]
 [ 0.91040625  0.08959375]
 [ 0.91719282  0.08280718]
 [ 0.68665744  0.31334256]
 [ 0.98930322  0.01069678]
 [ 0.80860253  0.19139747]
 [ 0.8180051   0.1819949 ]
 [ 0.75588231  0.24411769]
 [ 0.68694979  0.31305021]
 [ 0.7744244   0.2255756 ]
 [ 0.83160611  0.16839389]
 [ 0.82710668  0.17289332]
 [ 0.8577958   0.1422042 ]
 [ 0.85152198  0.14847802]
 [ 0.80345202  0.19654798]
 [ 0.90811474  0.09188526]
 [ 0.85770468  0.14229532]
 [ 0.98022506  0.01977494]
 [ 0.88197438  0.11802562]
 [ 0.92737116  0.07262884]
 [ 0.87458868  0.12541132]
 [ 0.77437442  0.22562558]
 [ 0.93633918  0.06366082]
 [ 0.94910996  0.05089004]
 [ 0.75549645  0.24450355]
 [ 0.90780205  0.09219795]
 [ 0.83134165  0.16865835]
 [ 0.95432411  0.04567589]
 [ 0.88627708  0.11372292]
 [ 0.72508919  0.27491081]
 [ 0.9120891   0.0879109 ]
 [ 0.7135269   0.2864731 ]
 [ 0.94761627  0.05238373]
 [ 0.91928478  0.08071522]
 [ 0.90669854  0.09330146]
 [ 0.73482414  0.26517586]
 [ 0.91626177  0.08373823]
 [ 0.79139573  0.20860427]
 [ 0.9177008   0.0822992 ]
 [ 0.89059877  0.10940123]
 [ 0.77465535  0.22534465]
 [ 0.85908691  0.14091309]
 [ 0.53916697  0.46083303]
 [ 0.95221517  0.04778483]
 [ 0.67954826  0.32045174]
 [ 0.86674081  0.13325919]
 [ 0.75749384  0.24250616]
 [ 0.88339929  0.11660071]
 [ 0.97264453  0.02735547]
 [ 0.82078365  0.17921635]
 [ 0.85177812  0.14822188]
 [ 0.51714373  0.48285627]
 [ 0.82503804  0.17496196]
 [ 0.92423866  0.07576134]
 [ 0.81700352  0.18299648]
 [ 0.91192488  0.08807512]
 [ 0.87276087  0.12723913]
 [ 0.66612278  0.33387722]
 [ 0.85342502  0.14657498]
 [ 0.97174666  0.02825334]
 [ 0.89790661  0.10209339]
 [ 0.88999898  0.11000102]
 [ 0.89438877  0.10561123]
 [ 0.80625913  0.19374087]
 [ 0.89270462  0.10729538]
 [ 0.85765501  0.14234499]
 [ 0.85043669  0.14956331]
 [ 0.80757025  0.19242975]
 [ 0.9397002   0.0602998 ]
 [ 0.84371789  0.15628211]
 [ 0.74755808  0.25244192]
 [ 0.66023719  0.33976281]
 [ 0.83804492  0.16195508]
 [ 0.78774761  0.21225239]
 [ 0.85699211  0.14300789]
 [ 0.89204062  0.10795938]
 [ 0.89006091  0.10993909]
 [ 0.85487452  0.14512548]
 [ 0.73529798  0.26470202]
 [ 0.95834566  0.04165434]
 [ 0.95331994  0.04668006]
 [ 0.9269402   0.0730598 ]
 [ 0.87978725  0.12021275]
 [ 0.87403266  0.12596734]
 [ 0.77403906  0.22596094]
 [ 0.69908588  0.30091412]
 [ 0.9474291   0.0525709 ]
 [ 0.59845566  0.40154434]
 [ 0.69411279  0.30588721]
 [ 0.94797446  0.05202554]
 [ 0.79863269  0.20136731]
 [ 0.88119905  0.11880095]
 [ 0.77480408  0.22519592]
 [ 0.870664    0.129336  ]
 [ 0.82734185  0.17265815]
 [ 0.7143416   0.2856584 ]
 [ 0.91776677  0.08223323]
 [ 0.8736023   0.1263977 ]]

In [34]:
print (metrics.accuracy_score(y_test, predicted))
print (metrics.roc_auc_score(y_test, probs[:, 1]))

0.84126984127
0.652291105121

In [35]:
print (metrics.confusion_matrix(y_test, predicted))
print (metrics.classification_report(y_test, predicted))

[[370   1]
 [ 69   1]]
             precision    recall  f1-score   support

        0.0       0.84      1.00      0.91       371
        1.0       0.50      0.01      0.03        70

avg / total       0.79      0.84      0.77       441

In [36]:
print (X_train)

      Intercept   Age  BusinessTravel  DailyRate  Department  \
338         1.0  30.0             1.0      570.0         2.0
363         1.0  33.0             1.0      350.0         2.0
759         1.0  45.0             1.0      788.0         3.0
793         1.0  28.0             1.0      895.0         1.0
581         1.0  30.0             1.0      921.0         1.0
320         1.0  27.0             1.0     1377.0         2.0
452         1.0  45.0             1.0      561.0         2.0
195         1.0  37.0             1.0      290.0         1.0
776         1.0  20.0             2.0      769.0         2.0
1295        1.0  41.0             1.0      796.0         2.0
70          1.0  59.0             2.0     1225.0         2.0
1135        1.0  46.0             1.0      563.0         2.0
1011        1.0  36.0             1.0     1174.0         2.0
10          1.0  35.0             1.0      809.0         1.0
1265        1.0  33.0             3.0      775.0         1.0
1270        1.0  34.0             1.0      511.0         2.0
1257        1.0  31.0             1.0     1079.0         2.0
271         1.0  47.0             3.0      666.0         1.0
858         1.0  53.0             1.0     1223.0         1.0
790         1.0  33.0             1.0      654.0         1.0
1290        1.0  34.0             2.0      234.0         1.0
915         1.0  21.0             2.0      251.0         1.0
64          1.0  36.0             1.0     1223.0         1.0
959         1.0  40.0             1.0      523.0         1.0
1274        1.0  31.0             1.0      196.0         2.0
1394        1.0  32.0             1.0     1373.0         1.0
1109        1.0  30.0             1.0     1288.0         2.0
416         1.0  38.0             2.0     1490.0         1.0
1234        1.0  47.0             3.0      543.0         2.0
687         1.0  36.0             1.0      938.0         1.0
...         ...   ...             ...        ...         ...
1445        1.0  41.0             1.0      582.0         1.0
1201        1.0  23.0             1.0     1320.0         1.0
99          1.0  44.0             3.0      489.0         1.0
850         1.0  32.0             3.0      862.0         2.0
448         1.0  40.0             1.0      302.0         1.0
755         1.0  45.0             1.0     1234.0         2.0
976         1.0  56.0             1.0     1369.0         1.0
115         1.0  37.0             1.0     1189.0         2.0
777         1.0  21.0             1.0     1334.0         1.0
72          1.0  31.0             1.0     1082.0         1.0
845         1.0  40.0             2.0      902.0         1.0
537         1.0  27.0             2.0      294.0         1.0
849         1.0  43.0             1.0     1372.0         2.0
174         1.0  45.0             1.0     1268.0         2.0
87          1.0  51.0             1.0      432.0         1.0
551         1.0  39.0             1.0      141.0         3.0
705         1.0  39.0             1.0      903.0         2.0
314         1.0  39.0             1.0      117.0         1.0
1420        1.0  41.0             1.0      642.0         1.0
600         1.0  32.0             1.0      859.0         1.0
1094        1.0  40.0             1.0     1342.0         2.0
599         1.0  36.0             1.0     1041.0         3.0
277         1.0  38.0             1.0      322.0         2.0
1033        1.0  31.0             2.0     1445.0         1.0
1383        1.0  36.0             3.0     1351.0         1.0
763         1.0  34.0             1.0     1333.0         2.0
835         1.0  35.0             1.0      528.0         3.0
1216        1.0  43.0             1.0     1179.0         2.0
559         1.0  38.0             1.0      268.0         1.0
684         1.0  40.0             1.0      658.0         2.0

      DistanceFromHome  Education  EducationField  YearsAtCompany
338                5.0        3.0             3.0            10.0
363                5.0        3.0             3.0             1.0
759               24.0        4.0             2.0             6.0
793               15.0        2.0             1.0             4.0
581                1.0        3.0             1.0             2.0
320                2.0        3.0             1.0             5.0
452                2.0        3.0             4.0             8.0
195               21.0        3.0             1.0             8.0
776                9.0        3.0             3.0             2.0
1295               4.0        1.0             3.0            22.0
70                 1.0        1.0             1.0             4.0
1135               1.0        4.0             1.0            26.0
1011               3.0        4.0             3.0             5.0
10                16.0        3.0             2.0             5.0
1265               4.0        3.0             5.0             9.0
1270               3.0        2.0             1.0             2.0
1257              16.0        4.0             3.0             1.0
271               29.0        4.0             1.0            10.0
858                7.0        2.0             2.0             7.0
790                5.0        3.0             1.0             3.0
1290               9.0        4.0             1.0             7.0
915               10.0        2.0             1.0             2.0
64                 8.0        3.0             5.0            17.0
959                2.0        3.0             1.0             9.0
1274              29.0        4.0             3.0            12.0
1394               5.0        4.0             1.0             1.0
1109              29.0        4.0             5.0             4.0
416                2.0        2.0             1.0             1.0
1234               2.0        4.0             3.0             1.0
687                2.0        4.0             2.0            11.0
...                ...        ...             ...             ...
1445              28.0        4.0             1.0            20.0
1201               8.0        1.0             2.0             5.0
99                23.0        3.0             2.0             3.0
850                2.0        1.0             1.0             1.0
448                6.0        3.0             1.0            20.0
755               11.0        2.0             1.0             9.0
976               23.0        3.0             1.0            19.0
115                3.0        3.0             1.0             5.0
777               10.0        3.0             1.0             1.0
72                 1.0        4.0             2.0             1.0
845               26.0        2.0             2.0             1.0
537               10.0        2.0             1.0             9.0
849                9.0        3.0             3.0             4.0
174                4.0        2.0             1.0             5.0
87                 9.0        4.0             1.0             4.0
551                3.0        3.0             6.0             8.0
705                2.0        5.0             1.0             8.0
314               10.0        1.0             2.0            21.0
1420               1.0        3.0             1.0             5.0
600                4.0        3.0             1.0            14.0
1094               9.0        2.0             2.0             8.0
599               13.0        3.0             6.0             5.0
277                7.0        2.0             2.0             8.0
1033               1.0        5.0             1.0            10.0
1383               9.0        4.0             1.0             5.0
763               10.0        4.0             1.0             1.0
835                8.0        4.0             5.0             5.0
1216               2.0        3.0             2.0            10.0
559                2.0        5.0             2.0             1.0
684               10.0        4.0             3.0             1.0

[1029 rows x 9 columns]

In [37]:
#add random values to KK according to the parameters mentioned above to check the proabily of attrition 
#of the employee
kk=[[1.0, 23.0, 1.0, 500.0, 3.0, 24.0, 1.0, 1.0, 1.5]]
print(model.predict_proba(kk))

[[ 0.49917964  0.50082036]]